.fading-image-city1 {
    grid-row: 1/3;
    grid-column: 1/5;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/img/city1.jpg') no-repeat center center fixed;
    background-size:cover ;
    filter: brightness(50%) blur(8px);
    animation: fadeOut 2s forwards;
  }

  .fading-image-girl {
    position: relative;
    grid-row: 3/5;
    grid-column: 5/6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/img/bladerunner_girl.jpg') no-repeat center center fixed;
    background-size:cover ;
    filter: brightness(50%) blur(8px);
    animation: fadeOut 3s forwards;
  }

  .fading-image-cyberpunk-2077 {
    position: relative;
    grid-row: 3/5;
    grid-column: 5/6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/img/cp_wallpaper.jpg') no-repeat center center fixed;
    background-size:cover ;
    filter: brightness(50%) blur(8px);
    animation: fadeOut 3s forwards;
  }
  
  .fading-blur {
    position: relative;
    animation: fadeOut 0.1s forwards;
  }

  .fading-image-city2 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/img/city2.jpg') no-repeat center center fixed;
    background-size:cover ;
    filter: brightness(50%) blur(8px);
    animation: fadeOut 3s forwards;
  }

  .fading-image-city3 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/img/city3.jpg') no-repeat center center fixed;
    background-size:cover ;
    filter: brightness(50%) blur(8px);
    animation: fadeOut 3s forwards;
  }
  
  /* Keyframes for fading effect */
  @keyframes fadeOut {
    0% {
      filter:brightness(50%) blur(4px);
    }
    100% {
      filter: brightness(100%) blur(0) ;
    }
  }

  /* Overview Section */
  .overview {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    

    /* opacity #1 effect*/
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .4s ease-in-out;
  }

  .overview:hover {
    opacity: .8;
    animation: shineIt 2s forwards;
    animation-direction: normal;
  }

  .overview:not(:hover) {
    animation-direction: reverse;
  }

  @keyframes shineIt {
    0% {
        filter: grayscale(100%);
        
        /* prevents from changing the grayscale of header*/
        filter: opacity(1);
    }
    100% {
        filter: grayscale(0%);
    }
  }
  
  .overview h2 {
    font-size: 2.5em;
    margin-bottom: 15px;
    color: yellow;
  }
  .overview h2:hover {
    font-size: 2.5em;
    margin-bottom: 15px;
    color:yellow;
  }

  .overview p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
  }


    /* Hover Effect */
    header h1:hover {
      cursor: pointer;
    }