
*{
    text-decoration: none;
}

body {
    margin: 0;
}
:root {
    --bar-width: 60px;
    --bar-height:  18px;
    --hamburger-gap: 6px;
    --foreground: cyan;
    --background: white;
    --hamburger-margin: 20px;
    --animation-timing: 100ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2); 
}

.hamburger-menu {
    display: none;
    --x-width: calc(var(--hamburger-height)* 1.414213);
    flex-direction: column;
    gap: var(--hamburger-gap);
    border-radius: 9999px;

    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    appearance: none;
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);

    transform-origin: left center;
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }
  
  .hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: calc(var(--hamburger-height) * 1.414213);
    translate: 0 calc(var(--bar-height) / -2);
  }
  
  .hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: calc(var(--hamburger-height) * 1.414213);
    translate: 0 calc(var(--bar-height) / 2);
  }
  
  .hamburger-menu input:checked {
    opacity: 0;
    width: 0;
    
  }
  
  .navigation-drawer {
    display: none;
    
    /* transition: translate var(--animation-timing);
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    padding: 0.5rem 1rem;
    color: var(--background);
    max-width: 10rem;
    min-height: 100vh; */
  }
  

@media (max-width: 1480px) {
    .hamburger-menu {
      display: flex;
    }
  
    .logo {
        translate: 100%;
        height: 70px;
        width: auto;
        position: absolute;
        right: 300px;
    }
  
    .navigation-drawer {
      display: flex;
      flex-direction: column;
      position: fixed;
      max-height: 100px;
      top: 50px;
      left: 0px;
      height: 100%;
      width: 250px;
      transform: translateX(-100%);
      transition: transform var(--animation-timing);
      z-index: 1;
      padding: 20px;
    }
  
    .hamburger-menu:has(input:checked) ~ .navigation-drawer {
      transform: translateX(0);
    }
    
  }


.website-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}

.logo {
    max-width: 100%;
    object-fit: contain;
    transition: translate 0.3s ease;
    color: red;
}

img {
    height: 100%;
    width: 100%;
    position: relative;
}

.navigation-drawer {
    display: flex;
}

.item {
    color: yellow;
    padding: 1rem;
}

.item-current {
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .4s ease-in-out;
    color: red;
    font-weight: bold;
    background-color: cyan;
    border-radius: 50px 10px 50px 10px;
    padding: 10px;
}

.navigation-drawer li {
    display: inline-block;
    font-size: 30px;
}

.navigation-drawer ul {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 10px double yellow;
}


.item-current a {
    color: black;
}

a {
    color: white;
}
