* {
  /*margin: 0;*/
  padding: 0;
  box-sizing: border-box;
  font-family: 'Century Gothic', sans-serif;
}

body {
  background-color: #121212;
  color: #f5f5f5;
  font-size: 18px;
  line-height: 1.6;
}

h1, h2 {
  text-align: center;
  color: yellow;
  font-family: 'Century Gothic', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2rem;
}

p {
  font-size: 1.2em;
  text-align: center;
  color: #d0d0d0;
}

.checkpoint h2 {
  padding: 2rem;
  font-size: 2rem;
}
